.picture {
    height: 1200px;
    width: 1200px;
    margin: 100px auto;
        overflow: hidden;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    border: 2px solid black;  
}
.pic{
    max-width: 100%;
    object-fit:fill;
    transition: transform 1s, max-width 1s;
}
.pic:hover{
    transform: rotate(-45deg);
    max-width: 80%;
}