.picture {
    height: 1500px;
    width: 1200px;
    margin: 500px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;  
}
.pic{
    transition: transform 1s;
    transform:scale(1.2);
}
.pic:hover{
    transform: rotate(-20deg) scale(1);
}