.main{
    position: relative;
    width: 800px;
    min-height: 500px;
    margin: 0;
    padding: 0;
    margin: 200px auto;
    border: 4px solid blue;
    overflow-y: scroll; /* прокрутка по вертикали */

}
.sidebar{
    position: absolute;
    left: 0px;
    width: 200px;
    height: 2000px;
    border: 1px solid black;
}
.OperatorHelpButton{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0px;
    top: 1100px;
    width: 40px;
    height: 200px;
    background-color: rgb(7, 168, 249);
    border-color: transparent;
}
.OperatorHelpButton > h3{
    margin: auto;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.modalWindowBox{
    position: absolute;
    width: 290px;
    height: 100px;
    top: 1150px;
    right: 40px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    visibility: hidden;
}
.closeModalWindow{
    position: absolute;
    top: 6px;
    right: 20px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-color: transparent; 
}
.closeModalWindow > h6{
    position: absolute;
    top: -2px;
    right: 2px;
    padding: 0;
    font-size: 16px;
    margin: 0 auto;
    transform: rotate(45deg);
    color: rgb(67, 65, 65)

}
.YesButtonModWind{
    position: absolute;
    top: 60px;
    left: 110px;
    width: 40px;
    background-color: lightgray;
    border-color: transparent;
}
.NoButtonModWind{
    position: absolute;
    top: 60px;
    left: 160px;
    width: 40px;
    border-color: transparent;
    background-color: lightgray;
}
.window{
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 3px;
    color: rgb(245, 242, 242);
}

