*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
}
.boxik{
    position: relative;
    width: 400px;
    height: 290px;
    margin: 50px auto;
    padding: 5px;
    background-color: lightgray;
}
.grid-container {
    height:100%;
    display: grid;
    grid-template-areas: "header header header header header"
                         "clas clas . Tags Tags"
                         "line line . line1 line1"
                         "disp numb  . parag numb1"
                         "line2 line2 . line3 line3"
                         "type numb2 . deco numb3"
                         "line4 line4 . line5 line5"
                         "pix numb4 . eleg numb5"
                         "line6 line6 . line7 line7"
                         "grun numb6 . ser numb7"
                         "footer footer footer footer footer";
    grid-template-columns: 1fr 30px 10px 1fr 30px;
    grid-template-rows: 60px 55px 1px 1fr 1px 1fr 1px 1fr 1px 1fr 30px;
    text-align: left;
    align-content: end;
    font-family: sans-serif;
}
.header { grid-area: header; background-color:grey; color: white;display: flex; align-items: center;}
.header > h1 {font-weight: normal;}
.clas { grid-area: clas; color: black; background-color: lightgray; display: flex; align-items:flex-end; font-weight: bold;padding-bottom: 2px;}
.Tags { grid-area: Tags; color: black; background-color: lightgray; display: flex; align-items:flex-end; font-weight: bold;padding-bottom: 2px;}
.line { grid-area: line; background-color: gray; }
.line1 { grid-area: line1; background-color: gray; }
.disp { grid-area: disp; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb { grid-area: numb; color: white; background-color: gray; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.parag { grid-area: parag; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb1 { grid-area: numb1; color: white; background-color: gray; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.line2 { grid-area: line2; background-color: gray; }
.line3 { grid-area: line3; background-color: gray; }
.type { grid-area: type; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb2 { grid-area: numb2; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.deco { grid-area: deco; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb3 { grid-area: numb3; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.line4 { grid-area: line4; background-color: gray; }
.line5 { grid-area: line5; background-color: gray; }
.pix { grid-area: pix; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb4 { grid-area: numb4; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.eleg { grid-area: eleg; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb5 { grid-area: numb5; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.line6 { grid-area: line6; background-color: gray; }
.line7 { grid-area: line7; background-color: gray; }
.grun { grid-area: grun; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb6 { grid-area: numb6; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.ser { grid-area: ser; color:slategray; background-color: lightgray;display: flex; align-items: center;}
.numb7 { grid-area: numb7; color: white; background-color: gray; width: 25px; margin: 4px auto; border-radius: 7px;display: flex; align-items: center;justify-content: center;}
.footer { grid-area: footer; color: slategray; background-color: lightgray; margin-right:30px; display:flex; align-items: flex-end; justify-content: right;font-weight: bold;}