.main{
    width: 500px;
    height: 600px;
    margin: 100px auto;
    background-color: lightgrey;
}
.mainbox{
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 120px 1fr;
}