.first{
    position: absolute;
    margin: 30px auto;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    color: rgb(202, 137, 15);
}
.first a{
    display: inline-block; 
    color: rgb(85, 84, 84);
    transform:rotate(90deg);
 }
 .first:hover{
    width: 10%;
    background: rgb(85, 84, 84);
    background:linear-gradient(-50deg, transparent 15px,  rgb(85, 84, 84) 0) bottom right,
     linear-gradient(-130deg, transparent 15px,  rgb(85, 84, 84) 0) top right;
    background-size: 100% 50%;
    background-repeat: no-repeat;
 }
 .first:hover>a{
    color: lightgray;
 }