.main{
    position: relative;
    width: 500px;
    height: 200px;
    margin: 50px auto;
    border: 2px solid black;
    font-family: sans-serif;
    text-align: center;
}
.visi-plus{
    visibility: hidden;
}
.visi-minus{
    visibility: hidden;
}
h2{
    position: absolute;
    width: 90%;
    height: 5em;
    background-color: orange;
    margin: 20px auto;
    text-align: left;
    padding-left: 50px;
    display: flex;
    align-items: center;
    font-weight: normal;
}
#b{
    position: absolute;
    right: 10px; bottom: 20px;
    border: 20px solid transparent;
    border-top: 20px solid orange;
}
#a{
    position: absolute;
    right: 78px; bottom: 20px;
    border: 20px solid transparent;
    border-top: 20px solid orange;
}
#minus{
    font-size: 24px;
    position: absolute;
    width: 30px;
    bottom: 0;
    right: 10px;
    padding: 3px;
    background-color: lightgrey;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
#null{
    font-size: 24px;
    position: absolute;
    width: 20px;
    bottom: 0;
    right: 50px;
    color: gray;
}
#plus{
    position: absolute;
    font-size: 24px;
    width: 30px;
    bottom: 0;
    right: 80px;
    padding: 3px;
    background-color: lightgrey;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
h4{
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}
#plus:hover{
    background-color: blue;
}
#minus:hover{
    background-color: red;
}
#plus:hover + .visi-plus{
    visibility:visible;
}
#minus:hover + .visi-minus{
    visibility:visible;
}