.picture{
    width: 190px;
    height: 270px;
    background-image: url(girl.jpg);
    background-size: contain;
    margin-right: auto;
    float: left;
    padding: 20px;
}
.blueblock{
    margin: auto;
    position: absolute;
    left: 300px;
    top: 100px;
    max-width: 310px;
    background-color:  #4072B7;
    font-size: 40px;
    padding: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 258px 0px 0px -26px #4072B7;
}
.redblock{
    position: absolute;
    left: 400px;
    top: 200px;
    max-width: 300px;
    background-color: red;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 130px 0px 0px -22px red;
}
a{
    color: white;
    text-decoration: none;
}
