* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    position: relative;
    width: 700px;
    height: 180px;
    border: 2px rgb(202, 70, 90) solid;
    margin: 50px auto;
}
h1{
    position: absolute;
    top: 0;
    left:0;
    font: 24px sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(202, 70, 90);
    padding: 10px;
}
div{
    position: absolute;
    top: 65px;
    left:0;
    line-height: 30px;
   }
a{
    font: 18px sans-serif;
    padding: 7px;
}