div{
    position: relative;
    max-width: 700px;
    margin: 50px auto;
    background-color: slategrey;
    border-bottom: 4px solid orange;
}
.nav li { 
    display: inline; 
}
ul.nav a {
    display: inline-block;
    padding:10px;
    padding-top: 20px;
    text-decoration: none;
    color: #f4f4f4;
    text-align: center;
}
ul.nav a:hover{
    color: orange;
}