
* {
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    position: relative;
    width: 700px;
    height: 180px;
    margin: 50px auto;
    background-color: slategrey;
    border-bottom: 2px solid orange;
}